main .allBookiesSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.4rem;
}

main .allBookiesSection .bookieCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

main .allBookiesSection .bookieCard:hover {
  background-color: #fafafa;
}

main .allBookiesSection .bookieNameColumn {
  display: flex;
}

main .allBookiesSection .bookieNameColumn span.titleLine {
  height: auto;
  margin-right: 0.9rem;
}

main .allBookiesSection .bookieNameColumn .bookieName {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--cardTitleColor);
}

main .allBookiesSection .bookieNameColumn .bookieMatches {
  font-size: 0.73rem;
  color: #99a3b3;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 0.15rem;
}

main .allBookiesSection .bookieBalance p.balance {
  font-size: 0.78rem;
  color: var(--cardTitleColor);
  font-weight: 700;
  text-align: center;
}

main .allBookiesSection .bookieBalance p.balanceSub {
  font-size: 0.6rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  color: #99a3b3;
}

main .allBookiesSection .bookieCard .bookieActions {
  display: flex;
  align-items: center;
  gap: 0.95rem;
}

main .allBookiesSection .bookieCard .bookieActions a {
  text-decoration: none;
  position: relative;
}

main .allBookiesSection .bookieCard .bookieActions a::before {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  top: -38px;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  text-align: center;
  font-size: 0.8rem;
  background-color: #fff;
  box-shadow: 2px 3px 10px rgb(0 0 0 / 15%);
  border-radius: 4px;
  padding: 6px 6px;
  color: #777;
  font-weight: 500;
}

main .allBookiesSection .bookieCard .bookieActions a::after {
  display: none;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 26px;
  width: 0;
  height: 0;
  margin-left: -7px;
  border-color: hsla(0, 0%, 100%, 0.95) transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0;
}

main .allBookiesSection .bookieCard .bookieActions a:hover::before,
main .allBookiesSection .bookieCard .bookieActions a:hover::after {
  display: block;
}

main .allBookiesSection .bookieCard .bookieActions i {
  font-size: 1.2rem;
  color: #bbb;
  cursor: pointer;
}

main .allBookiesSection .bookieCard .bookieActions i:hover {
  color: var(--accentColor);
}

main .dashboardCard.addbookieCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

main .dashboardCard.addbookieCard.left {
  justify-content: start;
  padding: 1.8rem 0rem;
}

main .addbookieCard .addBookieButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #dde1e4;
  background-color: transparent;
  color: #6c757d;
  box-shadow: none;
  transition: 0.1s ease-in;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

main .addbookieCard .addBookieButton i {
  font-weight: 600;
  margin-right: 0.35rem;
}

main .addbookieCard .addBookieButton:hover {
  border-color: #6c757d;
}

@media only screen and (max-width: 980px) {
  main .allBookiesSection .bookieCard .bookieActions i {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 960px) {
  main .allBookiesSection .bookieCard .bookieActions {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 950px) {
  main .allBookiesSection {
    grid-template-columns: 100%;
  }

  main .allBookiesSection .bookieCard .bookieNameColumn {
    width: 40%;
  }

  main .allBookiesSection .bookieCard .bookieBalance {
    margin-left: -10rem;
  }

  main .allBookiesSection .bookieCard .bookieActions {
    gap: 0.85rem;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 790px) {
  main .allBookiesSection .bookieCard .bookieNameColumn {
    width: 33%;
  }
  main .allBookiesSection .bookieCard .bookieBalance {
    margin-left: -3rem;
  }
}

@media only screen and (max-width: 660px) {
  main .allBookiesSection .bookieCard .bookieNameColumn {
    width: 40%;
  }
  main .allBookiesSection .bookieCard .bookieBalance {
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 610px) {
  main .allBookiesSection .bookieCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  main .allBookiesSection .bookieCard .bookieNameColumn {
    width: 100%;
  }

  main .allBookiesSection .bookieCard .bookieBalance {
    margin: 0;
    width: 100%;
  }

  main .allBookiesSection .bookieCard .bookieActions {
    display: none;
  }

  main .allBookiesSection .bookieNameColumn .bookieName {
    font-size: 1rem;
  }

  main .allBookiesSection .bookieNameColumn .bookieMatches {
    font-size: 0.8rem;
  }

  main .allBookiesSection .bookieBalance p.balance {
    font-size: 0.85rem;
  }

  main .allBookiesSection .bookieBalance p.balanceSub {
    font-size: 0.75rem;
    letter-spacing: 0.8px;
    padding-top: 2px;
  }
}

@media only screen and (max-width: 410px) {
  main .pageTitleSection .accentButton {
    padding: 0.5rem 0.75rem;
  }
}
