{% extends 'base.html' %}
{% load static %}

{% block styles %}

<!-- Login Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}"/>
    
{% endblock styles %}


{% block content %}

{% if messages %}

    {% for message in messages %}
        <div class="messageSektion login">
            <div class="message">
                <p class="{{message.tags}}">
                    {{message}}
                    <i class="ri-close-line close"></i>
                </p>
            </div>
        </div>
    {% endfor %}

{% endif %}

<div class="mainContent">

    <div class="logoSection">
        <p class="logo" style="color:#a9b4c3; font-size: 22px;">MATCHSNIPER</p>
    </div>

    <div class="formSection">

        <div class="loginCard">

            <form class="loginForm" action="{% url 'login' %}?next={{request.GET.next}}" method="POST">
                {% csrf_token %}
                <p class="loginTitle">Einloggen</p>

                <input class="formInput" type="text" name="username" placeholder="E-Mail Adresse">
                <input class="formInput" type="password" name="password" placeholder="Passwort">

                <div class="forgotPasswordSection">
                    <a href="{% url 'password_reset' %}" class="forgotPassword">
                        <i class="ri-lock-fill"></i>
                        Passwort vergessen?
                    </a>
                </div>

                <input class="formSubmit" type="submit" value="Einloggen">
            </form>

            <div class="notHaveAccount">
                <p>Du hast noch keinen Matchsniper Account?</p>
                <a href="" class="register">Account erstellen</a>
            </div>
        </div>

    </div>

    <div class="loginFooterSection">

        <div class="madeIn">
            
            <p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg" width="34" height="19">
                <span>Made in Germany</span>
            </p>
        </div>

        <div class="legalData">
            <p>
                <a href="">Impressum</a>
                <a href="">Datenschutz</a>
            </p>
        </div>
    </div>
</div>

<!-- load login Page javaScript -->
<script src="{% static 'js/login.js' %}" charset="utf-8"></script>

{% endblock content %}
