{% extends 'base.html' %}
{% load static %}

{% block styles %}

<!-- Login Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}"/>
    
{% endblock styles %}

{% block content %}

<div class="mainContent">

    <div class="logoSection">
        <p class="logo" style="color:#a9b4c3; font-size: 22px;">MATCHSNIPER</p>
    </div>

    <div class="formSection">

        <div class="loginCard resetSent loginForm">

            <p class="loginTitle">Reset Mail versandt</p>
            <p class="p1">Wir haben dir eine E-Mail mit Anweisungen zum Einrichten eines neuen Passworts zugesandt.</p>
            <p class="p1">Du solltest sie in Kürze erhalten, sofern die E-Mail-Adresse existiert.</p>
            <p class="p2">Wenn Du keine E-Mail erhältst, vergewissere dich bitte, dass du die richtige E-Mail Adresse eingegeben hast und überprüfe auch deinen Spam-Ordner.</p>

            <div class="forgotPasswordSection back2Login">
                <a href="{% url 'login' %}" class="forgotPassword back2Login">
                    <i class="ri-arrow-left-line"></i>
                    Zurück zum Login
                </a>
            </div>

        </div>

    </div>

    <div class="loginFooterSection">

        <div class="madeIn">
            
            <p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg" width="34" height="19">
                <span>Made in Germany</span>
            </p>
        </div>

        <div class="legalData">
            <p>
                <a href="">Impressum</a>
                <a href="">Datenschutz</a>
            </p>
        </div>
    </div>
</div>

<!-- load login Page javaScript -->
<script src="{% static 'js/login.js' %}" charset="utf-8"></script>

{% endblock content %}