{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block styles %}

<!-- Base Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"/>

<!-- Dashboard Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/dashboard.css' %}"/>

<!-- Settings Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/settings.css' %}"/>
    
{% endblock styles %}

{% block content %}

<div class="mainContent">

    <!-- pageTitle Section -->
    <div class="pageTitleSection">

        <p class="pageTitle">Einstellungen</p>

    </div>
    <!-- End pageTitle Section -->


    <!-- form Section  -->
    <div class="formSection">

        <!-- Form Card Change Password -->
        <div class="dashboardCard formCard changePassword">

            <div class="titleSection">
                <p class="cardTitle"><span class="titleLine"></span> Passwort ändern</p>
            </div>

            <!-- Change password form -->
            <form method="POST" action="{% url 'change_password' %}">
                {% csrf_token %}
                
                {% for field in pw_form %}

                    <div class="formLabel">

                        {% if field.label == "Old password" %}
                            <label for="id_{{field.name}}">Aktuelles Passwort</label>
                        {% elif field.label == "New password" %}
                            <label for="id_{{field.name}}">Neues Passwort</label>
                        {% elif field.label == "New password confirmation" %}
                            <label for="id_{{field.name}}">Passwort bestätigen</label>
                        {% endif %}
                    
                    </div>

                    <div class="formField">
                        {{field}}
                    </div>

                {% endfor %}

                <input class="formSubmit" type="submit" value="Passwort ändern">

            </form>
            
        </div>

        <!-- Form Card Change Data -->
        <div class="dashboardCard formCard changeData">

            <div class="titleSection">
                <p class="cardTitle"><span class="titleLine"></span> Details</p>
            </div>

            <!-- Change account data form -->
            <form method="POST" action="{% url 'edit_account' %}">
                {% csrf_token %}
        
                {% for field in account_form %}

                    <div class="formLabel">
                        <label for="id_{{field.name}}">{{field.label}}</label>
                    </div>

                    <div class="formField">
                        {{field}}
                    </div>

                {% endfor %}

                <input class="formSubmit" type="submit" value="Speichern">

            </form>
            
        </div>

        <!-- Form Card Change Data -->
        <div class="dashboardCard formCard notifications">

            <div class="titleSection">
                <p class="cardTitle"><span class="titleLine"></span> Benachrichtigungen</p>
            </div>

            <!-- Change account data form -->
            <form method="POST" action="{% url 'edit_notifications' %}">

                {% csrf_token %}

                <div class="toggleDiv">

                    {% for field in notifications_form %}
                        {{field}}
                    {% endfor %}
                    
                    <p>Bei neuen Value Wetten benachrichtigen?</p>
                </div>

                <input class="formSubmit" type="submit" value="Speichern">

            </form>
            
        </div>

    </div>
    <!-- End form Section  -->
</div>

<!-- load login Page javaScript -->
<script src="{% static 'js/settings.js' %}" charset="utf-8"></script>

{% endblock content %}