{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchsniper</title>

    <!-- Load custom StyleSheets -->
    {% include 'xstylesheets.html' %}

    <!-- Load all CDNs -->
    {% include 'xcdns.html' %}

  </head>

  <body>

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End Sidebar -->

    <!-- Content Area --> 
    <div class="bodySection">

      <!-- Header --> 
      <div class="header">

          <!-- Page Title --> 
          <p class="pageTitle">
            {% block page_name %}
            {% endblock page_name %}
          </p>

          <!-- Login/Logout Button -->
          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="logoutButton">
            <span class="buttonText">Logout</span>
          </a>

          {% else %}
          <a href="{% url 'login' %}" class="logoutButton">
              <span class="buttonText">Login</span>
          </a>

          {% endif %}

      </div>
      <!-- End Header--> 

      <!-- Main --> 
      <main class="mainContent">
          
        {% block content %}
        {% endblock content %}

      </main>
      <!-- End Main --> 

    </div>
    <!-- End Content Area --> 

    <!-- Load all javaScripts -->
    {% include 'xjavascripts.html' %}
  </body>
</html>
