{% load static %}

<!-- load navbar javaScript -->
<script src="{% static 'js/navbar.js' %}" charset="utf-8"></script>

<!-- load dashboard javaScript -->
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>

<!-- load bookies page javaScript -->
<script src="{% static 'js/bookies.js' %}" charset="utf-8"></script>

<!-- load valuebets page javaScript -->
<script src="{% static 'js/valuebets.js' %}" charset="utf-8"></script>

<!-- load myBets page javaScript -->
<script src="{% static 'js/myBets.js' %}" charset="utf-8"></script>

<!-- load forms javaScript -->
<script src="{% static 'js/forms.js' %}" charset="utf-8"></script>

<!-- load messages javaScript -->
<script src="{% static 'js/messages.js' %}" charset="utf-8"></script>

<!-- load login Page javaScript -->
<script src="{% static 'js/login.js' %}" charset="utf-8"></script>
